<div class="errors"></div>
<form class="form-group">
  <label for="title">Title</label><br>
    <input name="post[title]" type="text" class="form-control" id="title">

  <label for="body">Body</label>
    <input name="post[body]" type="text" class="form-control" id="body">

</form>
<button class="btn btn-primary btn-journ form-control">Journ</button>
