<div class="errors"></div>
<form>
  <label>Title
    <input name="post[title]" type="text">
  </label>

  <label>Body
    <input name="post[body]" type="text">
  </label>

  <button>Journ</button>
</form>
