<div class="errors"></div>

<span class="post[title]"><%= post.get("title") %></span>:  <span class="post[body]"><%= post.get("body") %></span>
<div class="form"></div>
<br>
<button class="btn btn-danger pull-right">Delete</button>
<br>
<a href="#">Back to index</a>
