<div class="errors"></div>

<span class="post[title]"><%= post.get("title") %></span><br>
<span class="post[body]"><%= post.get("body") %></span><button class="btn btn-danger pull-right show-button">Delete</button>

<div class="form"></div>

<br>
<a href="#">Back to index</a>
